
/* DEFAULT
*****************************************************/

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
	font-family: "Lato", "Helvetica", Arial, sans-serif;
	font-weight: 300;
}

a, i {
	color: #BBB;
}

a:hover, i:hover {
	color: #999;
	cursor: pointer;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn {
	background: #DDD;
	color: #666;
	border-radius: 2px;
	font-size: 18px;
	outline: none !important;
}

header, nav {
	text-align: center;
}

header h1 {
	margin-bottom: 20px;
	font-size: 60px;
	color: #999;
}

/* EDITOR
*****************************************************/

#app {
	padding: 20px;
	margin-bottom: 40px;
	color: #666;
}

#cardset {
	padding: 0;
	list-style: none;
}

#cardset li {
	margin: 5px;
	padding: 15px;
	position: relative;
}

#cardset li.editing {
	border-bottom: none;
	margin-top: -1px;
	padding: 0;
}

#cardset li.editing:last-child {
	margin-bottom: -1px;
}

#cardset li.editing .update {
	display: inline-block;
}

#cardset li.editing .view span {
	display: none;
}

#cardset li .view label {
	word-break: break-word;
}

#cardset li .update {
	display: none;
}

.card-editor .query, .card-editor .answers {
	min-height: 200px;
	background: #FFF;
	border: 1px solid rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.editing .query, .editing .answers {
	-webkit-box-shadow: 0 1px 10px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 10px rgba(0,0,0,.4);
	-ms-box-shadow: 0 1px 10px rgba(0,0,0,.4);
	-o-box-shadow: 0 1px 10px rgba(0,0,0,.4);
	box-shadow: 0 1px 10px rgba(0,0,0,.4);
}

.card-editor .answer {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 20px;
	line-height: 130%;
}

.card-editor .answer .title {
	font-weight: bold;
}

.card-editor .query {
	font-size: 24px;
	line-height: 130%;
}

.card-editor .answer:last-child {
	border-bottom: none;
}

/* Options */

.actions {
	position: absolute;
	top: 10px;
	right: 10px;
}

.save i {
	color: #8BC081;
}

.save:hover i {
	color: #71B664;
}

/* Inputs */

textarea, input {
	width: 100%;
	padding: 10px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	color: #888;
	line-height: 130%;
	font-size: 20px;
}

input {
	width: 50%;
	padding: 5px 10px;
	margin-bottom: 10px;
}

.query textarea {
	min-height: 140px;
}

/* NEW CARD
*****************************************************/

#new-card {
	margin-top: 20px;
}

#new-card .wrapper {
	min-height: 200px;
	background: #FFF;
	border: 1px solid rgba(0,0,0,.1);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#new-card [name="query"] {
	min-height: 120px;
	font-size: 24px;
}

#new-card .answers {
	padding: 15px;
}

#new-card i {
	top: 0;
	right: 0;
	font-size: 24px;
}


/* CARD EDIT Mode
*****************************************************/

.view .answer i,
.view .save,
.editing .edit {
 	display: none;
}

.view .query,
.view .content,
.editing .view .save,
.editing .view .remove-answer {
	display: inline-block;
}

/* CARD REVIEW
*****************************************************/

.card {
	display: none;
	position: relative;
	width: 100%;
	height: 300px;
	margin: 40px 0;
	background: #FFF;
	text-align: center;
	letter-spacing: 1px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-ms-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-webkit-perspective: 1300px;
	-moz-perspective: 1300px;
	perspective: 1300px;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front, .backface {
	z-index: 100;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 50%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transform-origin: center top;
	-moz-transform-origin: center top;
	transform-origin: center top;
	-webkit-transform: rotateX(0deg);
	-moz-transform: rotateX(0deg);
	transform: rotateX(0deg);
	transition: .4s ease-out;
	-webkit-transition: .4s ease-out;
	background: #DDD;
}

.front {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

}

.backface {
	z-index: 99;
}

.reveal .front, .reveal .backface {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	transform: rotateX(180deg);
	transition: .4s ease-out;
	-webkit-transition: .4s ease-out;
}

.query {
	height: 50%;
	margin: 0;
	padding-top: 40px;
	text-align: center;
}

.titles {
	position: relative;
	height: 100%;
	padding-top: 50px;
}

.card span {
	font-size: 24px;
}

.front .title {
	padding: 2px 10px;
	border-radius: 3px;
	border: 2px solid #CCC;
	background: rgba(255,255,255,.5);
	color: #888;
	cursor: pointer;
}

.front .title:hover {
	background: rgba(255,255,255,.8);
	color: #777;
}

.title, .title:hover {
	-webkit-transition: all .15s ease;
	-moz-transition: all .15s ease;
	-ms-transition: all .15s ease;
	-o-transition: all .15s ease;
	transition: all .15s ease;
}

.active .card {
	display: block;
}

/* Back */
.back {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50%;
	padding-top: 40px;
	background: #FFF;
	-webkit-transition-delay: 5s;
}

.answer.back {
	z-index: 10;
}

.btn.main {
	display: block;
	margin: 20px auto 0;
}


/* Next Button */
.next {
	width: 200px;
	padding: 10px;
}


/* End */

.end .card {
	padding-top: 60px;
	font-size: 24px;
}

/* RESPONSIVENESS
*****************************************************/