// General Styles

body
	font: 14px "Lato", $default_font
	margin: 0 auto
	line-height: 1.3em
	background: #F4F4F4
	color: #333333
	-webkit-font-smoothing: antialiased

h1, h2, h3, h4
	margin-top: 0
	font-family: $default_heading
	font-weight: 400

a, i
	color: #BBB
	&:hover
		color: #999
		cursor: pointer
		text-decoration: none

ul
	margin: 0
	padding: 0
	list-style: none

.btn
	background: #DDD
	color: #666
	border-radius: 2px
	font-size: 18px
	outline: none !important

.center
	text-align: center