// Card Set

#cardset
	padding: 0
	list-style: none
	> li
		position: relative
		margin: 5px
		padding: 15px
		.view label
			word-break: break-word

.card-wrapper
	padding: 0
	.card-side
		position: relative
		width: 100%
		background: #FFF
		padding: 15px
		border: 1px solid #CCC
		+clearfix()
		&:last-child
			background: #EEE
			border-top: none

.editor
	.query
		display: table
		border-radius: 4px 4px 0 0
		font-size: 24px
		line-height: 130%
		text-align: center
		span
			display: table-cell
			vertical-align: middle
			padding: 0 50px
	.answer
		position: relative
		margin-bottom: 10px
		padding-bottom: 10px
		border-bottom: 1px solid black(.1)
		font-size: 20px
		line-height: 130%
		color: #888
		&:last-child
			border-bottom: none
		.title
			font-weight: bold
		.icon-remove
			top: 0
			right: 0
			bottom: auto
			font-size: 24px
	.add-field
		float: right


// Options

.actions
	position: absolute
	top: 10px
	right: 10px

.save, .add-card
	background: #71B664
	color: #FFF
	&:hover, &:focus
		background: #63AF54
		color: #FFF
	i
		color: #FFF

.cancel
	display: inline-block
	margin: 0 10px
	font-size: 20px


// Inputs

textarea, input
	width: 100%
	padding: 10px
	border: 1px solid black(.2)
	border-radius: 3px
	line-height: 130%
	font-size: 20px
	font-weight: 300
	color: #888
	+box-shadow(inset 0 1px 2px black(.15))

input
	width: 50%
	padding: 5px 10px
	margin-bottom: 10px

textarea[name="query"]
	min-height: 120px
	margin-bottom: 15px
	font-size: 24px

// NEW CARD

#new-card
	margin-top: 20px
	.icon-remove
		top: 0
		right: 0
		font-size: 24px
		color: #BBB
		&:hover
			color: #999
	.add-card
		float: right
	.icon-plus
		color: inherit

// Edit Mode
.edit-mode
	display: none

.editing, #new-card
	.card-wrapper
		border: 5px solid #E8E8E8
		border-radius: 4px
	.view-mode
		display: none
	.edit-mode
		display: inline-block
	span, .query span
		display: none