// CARD REVIEW

.card
	display: none
	position: relative
	width: 100%
	height: 400px
	margin: 40px 0
	background: #FFF
	text-align: center
	letter-spacing: 1px
	font-size: 20px
	line-height: 120%
	+box-shadow(0 1px 2px black(.2))
	+perspective(1300px)
	+backface-visibility(hidden)
	.backface span
		font-size: 24px
	.query
		height: 50%
		margin: 0
		padding-top: 40px


.center-wrap
	display: table
	width: 100%
	height: 50%
	.center
		display: table-cell
		vertical-align: middle
		padding: 10px


.front, .backface
	z-index: 100
	position: absolute
	top: 50%
	background: #DDD
	+transform-style(preserve-3d)
	+transform-origin(center top)
	+transform(rotateX(0deg))
	+transition-property()
	+transition(.4s ease-out)

.front
	+backface-visibility(hidden)
	.title
		display: inline-block
		margin: 3px 0
		padding: 8px 10px
		border-radius: 3px
		border: 2px solid #CCC
		background: white(.5)
		color: #888
		cursor: pointer
		&:hover
			background: white(.8)
			color: #777

.backface
	z-index: 99
	.title, .title:hover
		+transform(scaleY(-1))


.reveal .front, .reveal .backface
	+transform(rotateX(180deg))
	+transition(.4s ease-out)

.active .card
	display: block

// Back
.back
	position: absolute
	left: 0
	bottom: 0
	background: #FFF
	+transition-delay(5s)
	.answer
		padding-bottom: 50px

.btn.main
	display: block
	position: absolute
	left: 5px
	bottom: 5px
	right: 5px
	&:hover
		background: #D4D4D4

// Next Button
.next
	width: 200px
	padding: 10px


// End

.end .card
	height: 200px
	padding-top: 40px
	font-size: 24px
