html,
body {
	margin: 0;
	padding: 0;
}

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	/*width: 520px;*/
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}

a:hover {
	cursor: pointer;
	text-decoration: none;
}

#app {
	padding: 20px;
	margin-bottom: 40px;
}

#app h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}

#app input[type="text"] {
	font-size: 24px;
	font-family: inherit;
	line-height: 1.4em;
	border: 0;
	outline: none;
	padding: 6px;
	border: 1px solid #999999;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
	box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}

#app input::-webkit-input-placeholder {
	font-style: italic;
}

#main {
}

#cardset {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#cardset li {
	margin: 5px;
	padding: 15px;
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
	background: #FFF;
	border: 1px solid rgba(0,0,0,.1);
}

#cardset li:last-child {
	border-bottom: none;
}

#cardset li.done label {
	color: #777777;
	text-decoration: line-through;
}

#cardset li.editing {
	border-bottom: none;
	margin-top: -1px;
	padding: 0;
}

#cardset li.editing:last-child {
	margin-bottom: -1px;
}

#cardset li.editing .update {
	display: inline-block;
	margin: 0;
}

#cardset li.editing .view span {
	display: none;
}

#cardset li .view label {
	word-break: break-word;
}

#cardset li .update {
	display: none;
}

#app footer {
	display: none;
	margin: 0 -20px -20px -20px;
	overflow: hidden;
	color: #555555;
	background: #f4fce8;
	border-top: 1px solid #ededed;
	padding: 0 20px;
	line-height: 37px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}



/* Custom */

.view .answer i,
.view .save,
.editing .edit {
 	display: none;
}

.view .query,
.view .content,
.editing .view .save,
.editing .view .remove-answer {
	display: inline-block;
}